*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 965px;
    height: 965px;
    background:red;
    z-index: -1;
}
.container{
    background: white;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.buttons{
    margin-top: 2rem;;
}